{{#each alumnos}}
<p>leg_alumno:{{leg_alumno}}<br>
apyn_alumno:{{apyn_alumno}}<br>
dom_alumno:{{dom_alumno}}<br>
cod_postal:{{cod_postal}}<br>
fecha_nac_alumno:{{fecha_nac_alumno}}<br>
email_alumno:{{email_alumno}}<br>
grupo_sang_alumno:{{grupo_sang_alumno}}<br>
tel_fijo_alumno:{{tel_fijo_alumno}}<br>
tel_movil_alumno:{{tel_movil_alumno}}<br>
dni_alumno:{{dni_alumno}}
</p>
{{/each}}

<a href="/">Retornar</a>

									