<table border="1">
  <tr>
    <td>leg_alumno</td><td>apyn_alumno</td><td>dom_alumno</td><td>cod_postal</td><td>fecha_nac_alumno</td><td>email_alumno</td><td>grupo_sang_alumno</td><td>tel_fijo_alumno</td><td>tel_movil_alumno</td><td>dni_alumno</td>
  </tr>
{{#each alumnos}}
  <tr>  
    <td>{{leg_alumno}} </td> <td>{{apyn_alumno}}</td> <td>{{dom_alumno}}</td><td>{{cod_postal}}</td><td>{{fecha_nac_alumno}}</td><td>{{email_alumno}}</td><td>{{grupo_sang_alumno}}</td><td>{{tel_movil_alumno}}</td><td>{{tel_fijo_alumno}}</td><td>{{dni_alumno}}</td>
  </tr>   
{{/each}}
</table>
<a href="/">Retornar</a>

									